  @font-face {
		font-family: Titillium SemiBold;
		src: url('../fonts/TitilliumWeb-SemiBold.ttf');
	}

  @font-face {
		font-family: Titillium Bold;
		src: url('../fonts/TitilliumWeb-Bold.ttf');
	}

  @font-face {
		font-family: Titillium Regular;
		src: url('../fonts/TitilliumWeb-Regular.ttf');
	}

	header.header {
    position: relative;
		font-family: Titillium Regular;
		background-color: #1a1a25;
    color: #ffffff;
    height: 8vw;
    border-radius: 8px;
    overflow: hidden;
	}

	header.header a:link,
	header.header a:visited {
		color: #ffffff;
		text-decoration: none;
    transition: color 0.2s;
	}

	header.header a:hover {
		color: #ac0909;
	}

  main.content a:link,
  main.content a:visited {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s;
  }

  main.content a:hover {
    color: #ac0909;
  }

  #logo {
    float: left; 
    position: relative; 
    left: 2.7vw; 
    top: 2.6vw;
    transition: all 0.2s;
  }

  #logo:hover {
    transform: scale(1.05);
  }

  #navbar {
    padding-top: 0.5vw;
    margin-right: -1.75vw;
    font-size: 1.95vw; 
    word-spacing: 7.5vw; 
    vertical-align: middle;
    text-align: center;
  }

  #currentpage {
    font-weight: bold;
  }

	footer.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #ac0909;
		color: #ffffff;
    font-family: Titillium Regular;
		font-size: 1.75vh;
		word-spacing: 15px;
	}

	footer.footer a:link,
	footer.footer a:visited {
		color: #ffffff;
    font-family: Titillium Regular;
		text-decoration: none;
    transition: color 0.2s;
	}

	footer.footer a:hover {
		color: #000000;
  }

  #req_code {
    float: right; 
    margin-right: 17.2px; 
    word-spacing: normal; 
  }

	body {
		background-color: #111118;
	}

  figure {
    display: flex;
    overflow: hidden;
    margin: 0px;
  }

  .content {
    font-family: Titillium Regular;
    color: #ffffff;
    font-size: 1.25vw;
    display: grid;
    grid-template-columns: repeat(10, 9%);
    grid-column-gap: 1vw;
    grid-row-gap: 2.5vw;
    margin: 10px 1.2vw 5vw 0px;
    transition: all 0.2s;
  }

  main.content {
    padding-left: 1.5vw;
  }

  h1 {
    font-size: 3vw;
  }

  h2 {
    font-family: Titillium Bold;
  }

  .image_link_hover {
    box-shadow: 0 0 0;
    transition: all 0.3s;
  } 

  .image_link_hover:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.045);
  }

  .standings {
    border-collapse: collapse;
    font-size: 1.05em;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
  }

  .standings thead tr {
    background-color: #ac0909;
    text-align: left;
    font-weight: bold;
  }

  .standings th,
  .standings td {
    padding: 0.95vw 1.15vw;
  }

  .standings tbody tr {
    border-bottom: 1px solid #21212e;
  }

  .standings tbody tr:nth-of-type(even) {
    background-color: #14141c;
  }

  .standings tbody tr:last-of-type {
    border-bottom: 1px solid #ac0909;
  }

  .social-icon {
		position: fixed;
		left: 0;
		bottom: 0;
		color: #ffffff;
		font-size: 3.5vh;
    margin-left: 9.5vw;
    transition: color 0.3s;
	}

	.social-icon a:link,
	.social-icon a:visited {
		color: #ffffff;
    font-family: Titillium Regular;
		text-decoration: none;
    transition: color 0.3s;
	}

	.social-icon a:hover {
		color: #000000;
  }

  ion-icon {
  pointer-events: none;
  }

  #special_header,
  #guide {
    color: #ac0909;
  }